
@page "/payment"
@inject Orderlist orderlist
@rendermode InteractiveServer
@inject NavigationManager navigation
@inject Generatefakedata fakedata
@inject blazorviewPaymentForm? blazorviewPaymentForm
@attribute [StreamRendering]

<PageTitle>Payment</PageTitle>

@if (orderlist.keyValuePairs.Count == 0){}
else 
{
    <div class="container" style="margin-top:100px">
    
        <div class="text-center py-5 pb-4">
            <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-feather">
                    <path d="M15.807.531c-.174-.177-.41-.289-.64-.363a3.765 3.765 0 0 0-.833-.15c-.62-.049-1.394 0-2.252.175C10.365.545 8.264 1.415 6.315 3.1c-1.95 1.686-3.168 3.724-3.758 5.423-.294.847-.44 1.634-.429 2.268.005.316.05.62.154.88.017.04.035.082.056.122A68.362 68.362 0 0 0 .08 15.198a.528.528 0 0 0 .157.72.504.504 0 0 0 .705-.16 67.606 67.606 0 0 1 2.158-3.26c.285.141.616.195.958.182.513-.02 1.098-.188 1.723-.49 1.25-.605 2.744-1.787 4.303-3.642l1.518-1.55a.528.528 0 0 0 0-.739l-.729-.744 1.311.209a.504.504 0 0 0 .443-.15c.222-.23.444-.46.663-.684.663-.68 1.292-1.325 1.763-1.892.314-.378.585-.752.754-1.107.163-.345.278-.773.112-1.188a.524.524 0 0 0-.112-.172ZM3.733 11.62C5.385 9.374 7.24 7.215 9.309 5.394l1.21 1.234-1.171 1.196a.526.526 0 0 0-.027.03c-1.5 1.789-2.891 2.867-3.977 3.393-.544.263-.99.378-1.324.39a1.282 1.282 0 0 1-.287-.018Zm6.769-7.22c1.31-1.028 2.7-1.914 4.172-2.6a6.85 6.85 0 0 1-.4.523c-.442.533-1.028 1.134-1.681 1.804l-.51.524-1.581-.25Zm3.346-3.357C9.594 3.147 6.045 6.8 3.149 10.678c.007-.464.121-1.086.37-1.806.533-1.535 1.65-3.415 3.455-4.976 1.807-1.561 3.746-2.36 5.31-2.68a7.97 7.97 0 0 1 1.564-.173Z"></path>
                </svg>
            </div>
                <h2>Checkout. This is for demonstration purposes. DO NOT insert real data.</h2>
                <button class="btn btn-primary" @onclick="@(() =>Generatefakedataz())">Generate Fake data </button><span class="ms-lg-2">@Thanks</span>
        </div>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3"><span class="text-primary">Your cart</span><span class="badge rounded-pill bg-primary">@Itemcount</span></h4>
                <ul class="list-group mb-3">

                        @foreach (var list in orderlist.keyValuePairs)
                        {
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">x @list.Value.Item1 @list.Value.Item2</h6>
                                </div><span class="text-body-secondary">$@list.Value.Item3</span>
                            </li>
                        }
                        <li class="list-group-item d-flex justify-content-between"><span>Total (USD)</span><strong>$@orderlist.Totalprice</strong></li>
                </ul>
            </div>
                <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing address</h4>
                 <EditForm Enhance Model="blazorviewPaymentForm" method="post" FormName="paymentForm" OnValidSubmit="SubmitForm">
                     <AntiforgeryToken/>
                     <DataAnnotationsValidator/>
                 
                    <div class="row g-3">

                        <div class="col-sm-6">
                            <label>First name</label>
                            <InputText class="form-control form-control" type="text" @bind-Value="blazorviewPaymentForm.FirstName"/>
                                <ValidationMessage For="@(() => blazorviewPaymentForm.FirstName)" />
                        </div>

                        <div class="col-sm-6">
                                <label>Last name</label>
                            <InputText class="form-control form-control"  type="text" @bind-Value="blazorviewPaymentForm.LastName"/>
                                <ValidationMessage For="@(() => blazorviewPaymentForm.LastName)" />
                        </div>

                        <div class="col-12">
                            <label class="form-label form-label">Email (Optional)</label>
                               <InputText class="form-control form-control"  placeholder="you@example.com" @bind-Value="blazorviewPaymentForm.Email"/>      
                        </div>

                        <div class="col-12">
                            <label class="form-label form-label" for="address">Address</label>
                            <InputText class="form-control form-control" placeholder="1234 Main St"  @bind-Value="blazorviewPaymentForm.Address"/>
                                <ValidationMessage For="@(() => blazorviewPaymentForm.Address)" />
                        </div>

                        <div class="col-12">
                            <label class="form-label form-label">Address 2 (Optional)</label>
                             <InputText class="form-control form-control"  placeholder="Apartment or suite" @bind-Value="blazorviewPaymentForm.Address2"/>
                        </div>

                        <div class="col-md-5">
                            <label class="form-label form-label" >Country</label>
                              <InputText class="form-control form-control"  @bind-Value="blazorviewPaymentForm.County"/>
                                <ValidationMessage For="@(() => blazorviewPaymentForm.County)" />
                        </div>

                        <div class="col-md-4">
                            <label class="form-label form-label">State</label>
                              <InputText class="form-control form-control" @bind-Value="blazorviewPaymentForm.State"/>
                                <ValidationMessage For="@(() => blazorviewPaymentForm.State)" />
                        </div>

                        <div class="col-md-3">
                            <label class="form-label form-label" for="zip">Zip</label>
                                <InputText class="form-control form-control"  @bind-Value="blazorviewPaymentForm.Zip"/>
                                <ValidationMessage For="@(() => blazorviewPaymentForm.Zip)" />
                      
                        </div>
                            <hr class="my-4 mb-2">
                            <h4 class="mb-3">Contact info</h4>
                            <div class="col-12">
                                <label class="form-label form-label">PhoneNumber</label>
                                <InputText class="form-control form-control"  @bind-Value="blazorviewPaymentForm.PhoneNumber" />
                                <ValidationMessage For="@(() => blazorviewPaymentForm.PhoneNumber)" />
                            </div>
                    </div>
                    <hr class="my-4">
                    <h4 class="mb-3">Payment</h4>
                    <div class="my-3">
                        <InputRadioGroup @bind-Value="blazorviewPaymentForm.PaymentMethod">
                        <div class="form-check">
                                   <InputRadio class="form-check-input" Value="blazorviewPaymentForm.Credit"/>
                                    @*  <input type="radio" checked="" class="form-check-input" id="credit" name="paymentMethod" required="">*@
                            <label class="form-label form-check-label">Credit card</label>
                            </div> 
                        <div class="form-check">
                                    <InputRadio class="form-check-input" Value="blazorviewPaymentForm.Debit" />
                            <label class="form-label form-check-label" for="debit">Debit card</label></div>
                        <div class="form-check">
                                    <InputRadio class="form-check-input" Value="blazorviewPaymentForm.Paypal" />
                            <label class="form-label form-check-label" >PayPal</label></div>
                        </InputRadioGroup>
                    </div>
                    <div class="row gy-3">
                        <div class="col-md-6">
                            <label class="form-label form-label" for="cc-name">Name on card</label>
                                    <InputText class="form-control form-control" type="text" placeholder="Full name as displayed on card" @bind-Value="blazorviewPaymentForm.CardHolderName" />
                                <ValidationMessage For="@(() => blazorviewPaymentForm.CardHolderName)" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label form-label" for="cc-number">Credit card number</label>
                                    <InputText class="form-control form-control" type="text" @bind-Value="blazorviewPaymentForm.Cardnumbersinfo" />
                                <ValidationMessage For="@(() => blazorviewPaymentForm.Cardnumbersinfo)" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label form-label" for="cc-expiration">Expiration</label>
                                     <InputText class="form-control form-control" type="text" @bind-Value="blazorviewPaymentForm.ExpiryDate" />
                                <ValidationMessage For="@(() => blazorviewPaymentForm.ExpiryDate)" />
                       
                        </div>
                        <div class="col-md-3">
                            <label class="form-label form-label" for="cc-cvv">CVV</label>
                                     <InputText class="form-control form-control"  @bind-Value="blazorviewPaymentForm.CVV" />
                                <ValidationMessage For="@(() => blazorviewPaymentForm.CVV)" />
                        </div>
                    </div>
                        <hr class="my-4"><button class="btn btn-primary btn-lg w-100 mb-4" type="submit">Proceed</button>
                    </EditForm>
            </div>
        </div>
   
    </div>
}

@code {

    public int Itemcount = 0;

    string Thanks = "thanks to randomuser.me/api/";

  


    protected override async Task OnInitializedAsync()
    {

        Itemcount =  orderlist.Counttotalitems();

    }

    protected override void OnAfterRender(bool firstRender)
    {

        if (Itemcount == 0 || blazorviewPaymentForm.notActive)
        {
            try
            {
                navigation.NavigateTo("/");
            }
            catch(Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }

    }

    private void SubmitForm()
    {
        Console.WriteLine("Ok");
        //BlazorviewPaymentForm = blazorviewPaymentForm;
        //  blazorviewPaymentForm = new();

        blazorviewPaymentForm.Totalprice = orderlist.Totalprice;
        navigation.NavigateTo("/confirm");
    }


    private async Task Generatefakedataz()
    {
        if (!await fakedata.Generatedatafromexternalapi(blazorviewPaymentForm))
        {
            Thanks = "failed to fetch data";
        }
            
    }


}
